---
layout: default
---

{% if (page.header.overlay_color or page.header.overlay_image) or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
    {% if page.title %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% else %}
      <h1 class="page__title">{{ page.category }}</h1>
    {% endif %}
    {% endunless %}

    {% for post in site.posts %}
      {% if post.category == page.category %}
        {% include archive-single.html %}
      {% elsif page.tags %}
        {% for tag in page.tags %}
          {% if post.tags contains tag %}
            {% include archive-single.html %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

  </div>
</div>


